<h1>Artists</h1> 

<div><%= link_to 'Create Artist', new_artist_path %></div> 
<br /> 

<table> 
    <thead> 
        <tr> 
            <th>Name</th> 
            <th>Title</th> 
            <th>Age</th> 
            <th></th> 
        </tr> 
    </thead> 
    <tbody> 
        <% @artists.each do |artist| %> 
            <tr> 
                <td><%= @artist.name %> 
                <td><%= @artist.title %> 
                <td><%= @artist.age %> 
                <td> 
                    <%= link_to 'View', artist %> 
                </td>
            </tr> 
        <% end %> 
    </tbody> 
</table>